<ion-content class="gym-fondo">
  <div class="contenedor-formulario">
    <div class="card-formulario">
      <h2 class="titulo-formulario"> Registrar nuevo socio.</h2>
      
      <div class="input-group">
        <label for="inputNombre">Nombre</label>
        <input id="inputNombre" type="text" [(ngModel)]="nuevoSocio.nombre" placeholder="Ej. Martina" class="custom-input">
      </div>

      <div class="input-group">
        <label for="inputApellido">Apellido</label>
        <input id="inputApellido" type="text" [(ngModel)]="nuevoSocio.apellido" placeholder="Ej. Soria" class="custom-input">
      </div>
      
      <div class="input-group">
        <label for="inputEmail">Correo electrónico</label>
        <input id="inputEmail" type="email" [(ngModel)]="nuevoSocio.email" placeholder="correo@ejemplo.com" class="custom-input">
      </div>

      <div class="input-group">
        <label for="inputTelefono">Teléfono</label>
        <input id="inputTelefono" type="number" [(ngModel)]="nuevoSocio.telefono" placeholder="Número de contacto" class="custom-input">
      </div>

      <div class="acciones-formulario">
        <ion-button fill="clear" color="medium" routerLink="/socios-lista">
          Cancelar
        </ion-button>
        <ion-button class="btn-orange" (click)="guardarSocio()">
          Guardar socio.
        </ion-button>
      </div>

    </div>
  </div>
</ion-content>