<ion-content class="gym-fondo">
  <div class="contenedor-formulario">
    <div class="card-formulario">
      <h2 class="titulo-formulario"> {{esEdicion ? 'Modificar datos del usuario' : 'Registrar nuevo usuario'}} </h2>
      
      <div class="input-group">
        <label for="inputNombre">Nombre</label>
        <input id="inputNombre" type="text" [(ngModel)]="nuevoUsuario.nombre" (input)="validarCampos()" placeholder="Ingrese el nombre" class="custom-input">
          @if (errorNombre()) {
          <span class="error-mensaje">{{ errorNombre() }}</span>
          }
      </div>

      <div class="input-group">
        <label for="inputApellido">Apellido</label>
        <input id="inputApellido" type="text" [(ngModel)]="nuevoUsuario.apellido" (input)="validarCampos()" placeholder="Ingrese el apellido" class="custom-input">
        @if (errorApellido()) {
          <span class="error-mensaje">{{ errorApellido() }}</span>
        }
      
      </div>
      
      <div class="input-group">
        <label for="inputEmail">Correo electrónico</label>
        <input id="inputEmail" type="email" [(ngModel)]="nuevoUsuario.email" (input)="validarCampos()" placeholder="correo@ejemplo.com" class="custom-input">
        @if (errorEmail()) {
          <span class="error-mensaje">{{ errorEmail() }}</span>
        }
      </div>

      

      <div class="input-group">
        <label for="inputTelefono">Teléfono</label>
        <input id="inputTelefono" type="text" inputmode="numeric" pattern="[0-9]*" maxlength="10" [(ngModel)]="nuevoUsuario.telefono" (input)="validarCampos()" placeholder="Número de contacto" class="custom-input">
        @if (errorTelefono()) {
          <span class="error-mensaje">{{ errorTelefono() }}</span>
        }
      </div>

      <div class="acciones-formulario">
        <ion-button fill="clear" color="medium" routerLink="/socios-lista">
          Cancelar
        </ion-button>
        <ion-button class="btn-orange" (click)="guardarUsuario()"
        [disabled] = "!nuevoUsuario.nombre.trim() || !nuevoUsuario.apellido.trim() || !nuevoUsuario.email.trim() || !nuevoUsuario.telefono.trim()">
          {{esEdicion ? 'Actualizar usuario' : 'Guardar usuario'}}
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>