@use '../../../theme/colors' as *;

ion-content {
  --background: rgb(27, 26, 26); 
}

.reservas-title {
    color: #fff;
    text-align: center;
    margin: 16px 0;
}

ion-toolbar {
  --background: rgb(27, 26, 26); 
  color: rgb(255, 123, 0);       
    }
ion-segment {
  --background: rgb(27, 26, 26); 
} 
.dark-bg {
    background-color: rgb(27, 26, 26);
} 
.filter-bar {
    background-color: rgb(46, 43, 43);

    ion-segment-button {
    --color: white;
    --color-checked: rgb(255, 123, 0);


    &::part(native) {
      flex-direction: row;
      justify-content: flex-start;
      gap: 6px;
    }
    }

    ion-icon {
    fill: #ff7300 !important;   
    color: #ff7300 !important;
    margin-right: 6px;         
    width: 28px !important;    
    height: 28px !important;
    }
}

ion-item {
    --background-color: rgb(255, 166, 0);
    color: rgb(255, 123, 0);
    --margin-bottom: 8px;
    --background: rgb(46, 45, 43);

    h2 {
    color: rgb(255, 102, 0);
    font-size: 16px;
    }

    p {
    color: rgb(255, 166, 0);
    font-size: 14px;
    }
}


.top-bar ion-icon {
  fill: #ff7300 !important;  
    color: #ff7300 !important;
  width: 26px !important;     
    height: 26px !important;
}
