<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="titulo-header">
        <span class="logo-header">SG</span>
        <div>
          <span class="nombre-header">SMART GYM</span>
          <span class="etiqueta-header">Admin</span>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contenedor-smart-gym" >

  <div class="gestion-navegacion">
    <span>Panel</span> / <span class="dorado">Gestión de Usuarios</span>
  </div>

  <div class="encabezado-pagina">
    <div>
      <h1 class="titulo-pagina">Gestión de Usuarios y Membresías</h1>
      <p class="subtitulo-pagina">Administrá las socias registradas y el estados de su membresía.</p>
    </div>
    <ion-button class="boton-principal" routerLink="/socios-form">
      Registrar Nueva Socia
    </ion-button>
  </div>

  <div class="grilla-socios">
    <div class="tarjeta-socios">
      <div class="titulo-socios">Total Socias</div>
      <div class="numero-socios">{{ cantTotal }}</div>
      <div class="detalle-socios">registradas</div>
    </div>
    <div class="tarjeta-socios">
      <div class="titulo-socios">Activas</div>
      <div class="numero-socios">{{ cantActivos }}</div>
      <div class="detalle-socios">membresías vigentes</div>
    </div>
    <div class="tarjeta-socios tarjeta-alerta">
      <div class="titulo-socios">Inactivas</div>
      <div class="numero-socios">{{ cantinactivos }}</div>
      <div class="detalle-socios">sin actividad</div>
    </div>
  </div>

  <div class="barra-herramientas">
    <div class="search-wrap">
      <ion-searchbar
        [(ngModel)]="textoBuscar"
        (ionInput)="buscar()"
        placeholder="Buscar por nombre, email o teléfono..."
        class="buscador-smart-gym">
      </ion-searchbar>
    </div>

    <div class="fila-filtros">
      <span class="texto-filtrar">Filtrar Estado:</span>
      
      <div class="grupo-filtros">
        <button class="opcion-filtro" [class.activa]="filtroEstado === 'todos'" (click)="seleccionarEstado('todos')">Todos</button>
        <button class="opcion-filtro" [class.activa]="filtroEstado === 'activo'" (click)="seleccionarEstado('activo')">Activos</button>
        <button class="opcion-filtro" [class.activa]="filtroEstado === 'inactivo'" (click)="seleccionarEstado('inactivo')">Inactivos</button>
      </div>

      <span class="texto-contador-totales">{{ sociosFiltrados.length }} de {{ listaSocios.length }} mostrados</span>
    </div>
  </div>

  <div class="tarjeta-tabla">
    <table class="tabla-smart-gym">
      <thead>
        <tr>
          <th>Nombre completo</th>
          <th>Correo electrónico</th>
          <th>Teléfono</th>
          <th>Rol</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (s of sociosFiltrados; track s.id){
        <tr>
          <td>
            <div class="celda-usuario">
              <div>
                <p class="nombre-usuario-tabla">{{ s.nombre }} {{ s.apellido }}</p>
              </div>
            </div>
          </td>
          <td class="celda-texto-gris">{{ s.email }}</td>
          <td class="celda-texto-gris">{{ s.telefono }}</td>
          <td>
            <span>{{ s.rol }}</span>
          </td>
          <td>
            <div class="estado-usuario" [ngClass]="s.activo ? 'usuario-activo' : 'usuario-inactivo'">
              <span class="punto-estado"></span>
              {{ s.activo ? 'Activo' : 'Inactivo' }}
            </div>
          </td>
          <td>
            <div class="contenedor-acciones">
              <button class="boton-accion-icono" (click)="irAEditar(s)" title="Editar">
                <svg  class="icono-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M384 224v184a40 40 0 01-40 40H104a40 40 0 01-40-40V168a40 40 0 0140-40h184M336 64l112 112M448 64L256 256M224 288l32-32"/>
                </svg>
              </button>
              <button class="boton-accion-icono boton-borrar" (click)="alertBorrar(s)" title="Eliminar">
                <svg class="icono-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" >
                  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M296 64h-80a7.91 7.91 0 00-8 8v24h96V72a7.91 7.91 0 00-8-8z"/>
                  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M32 128h448M80 128l32 304a40 40 0 0040 40h208a40 40 0 0040-40l32-304M184 192v192M256 192v192M328 192v192"/>
                </svg>
              </button>
            </div>
          </td>
        </tr>
        } @empty {
        <tr *ngIf="sociosFiltrados.length === 0">
          <td colspan="6" class="pantalla-vacia">
            <p>No se encontraron socias con ese criterio.</p>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>

</ion-content>